/*
    General application style
*/
QWidget {
    background-color: #2b2b2e;
}

QPushButton {
    color: white;
    background-color: #1b1b1e;
    text-align: left;
    padding: 6px;
    border-radius: 0px;
}

QPushButton::hover {
    background-color: #3b3b3e;
}

/*
    Project selector styles
*/
#cloneBtn,
#openBtn,
#createBtn {
    min-width: 10em;
    min-height: 2em;
}

#cloneBtn {
    icon: url(:/icons/version-control.png);
}

#openBtn {
    icon: url(:/icons/open-project.png);
}

#createBtn {
    icon: url(:/icons/new-project.png);
}

#settingsBtn {
    icon: url(:/icons/gear.png);
    min-width: 1em;
    max-width: 1em;
    border-radius: 0.9em;
}

/*
    common widgets styles
*/
QCheckBox::indicator {
    border: 1px solid #4b4b4e;
    max-height: 1em;
    max-width: 1em;
}

QCheckBox::indicator:checked {
    image: url(:/icons/close.png);
}

QLineEdit {
    border: 1px solid #4b4b4e;
    border-radius: 8px;
    padding: 1 10px;
    selection-background-color: #4b4b4e;
}

QLineEdit::focus {
    border: 1px solid #009be6;
}

QLineEdit[showerror=true] {
    border: 1px solid #ba0000;
}

QListWidget {
    selection-background-color: #1b1b1e;
}

/*
    Editor window styles
*/

/* Sidebar */
#configBtn, #exploreBtn,
#findBtn, #gitBtn, #pluginsBtn {
    min-width: 2em;
    max-width: 2em;
    min-height: 2em;
    max-height: 2em;
    padding: 0.5em;
    icon-size: 2em;
}

#exploreBtn {
    icon: url(:/icons/file.png);
}

#findBtn {
    icon: url(:/icons/find.png);
}

#gitBtn {
    icon: url(:/icons/version-control.png);
}

#pluginsBtn {
    icon: url(:/icons/plugins.png);
}

#configBtn {
    icon: url(:/icons/gear.png);
}

#sidebarFrame {
    max-width: 3em;
    background-color: #1b1b1e;
    border-top: 1px solid #4b4b4e;
    border-right: 1px solid #4b4b4e;
    border-bottom: 1px solid #4b4b4e;
    border-left: 0px;
}

/*
    Side pane
*/
#pane {
    background-color: #1b1b1e;
    border-top: 1px solid #4b4b4e;
    border-right: 1px solid #4b4b4e;
    border-bottom: 1px solid #4b4b4e;
    border-left: 0px;

    width: 20em;
    max-width: 30em;
}
